body {
    font-family: 'Carrois Gothic', sans-serif;
    color: #6DE322;
    background-color: #151d55;
}

.image-text {
    font-size: 150%;
    text-transform: uppercase;
    width: 18.75rem;
    height: 9.375rem;
    background-color: rgba(81, 184, 199, .5);
    bottom: 3rem;
    left: 2rem;
    position: absolute;
    text-align: center;
}

.progress {
    --bs-progress-bar-bg: #E3784F;
}

a {
    color: #6DE322;
}

a:hover {
    color: #E3784F;
}

